.footer-component-container {
  display: flex;
  position: relative;
}
.footer-component-footer-component {
  width: 1222px;
  height: 144px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #6699CC;
}
.footer-component-pasted-image {
  width: 86px;
  height: 96px;
}
.footer-component-container1 {
  flex: 0 0 auto;
  width: 974px;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.footer-component-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.footer-component-pasted-image1 {
  width: 0px;
  height: 0px;
}
.footer-component-links {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-component-navlink {
  top: -1px;
  left: 125px;
  position: absolute;
  text-decoration: none;
}
.footer-component-text {
  top: -1px;
  left: 475px;
  position: absolute;
}
.footer-component-text1 {
  top: -1px;
  right: 109px;
  position: absolute;
}
.footer-component-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-component-burger-menu {
  display: none;
}
.footer-component-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.footer-component-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.footer-component-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-component-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.footer-component-logo {
  height: 2rem;
}
.footer-component-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-component-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.footer-component-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.footer-component-text2 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-component-text3 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-component-text4 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-component-text5 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-component-text6 {
  margin-bottom: var(--dl-space-space-unit);
}
.footer-component-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-component-login {
  margin-right: var(--dl-space-space-twounits);
}
.footer-component-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.footer-component-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.footer-component-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

@media(max-width: 767px) {
  .footer-component-footer-component {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-component-desktop-menu {
    display: none;
  }
  .footer-component-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-component-text2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-component-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-component-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-component-text5 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-component-text6 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-component-footer-component {
    padding: var(--dl-space-space-unit);
  }
  .footer-component-mobile-menu {
    padding: 16px;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-interactive {
  width: 100%;
  height: 144px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #6699CC;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.home-pasted-image {
  width: 224px;
  height: 96px;
}
.home-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-navlink {
  color: var(--dl-color-gray-black);
  text-decoration: none;
}
.home-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login {
  display: flex;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  height: 2rem;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-text01 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-container1 {
  width: 100%;
  height: 776px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #BDBDBD;
}
.home-text06 {
  color: #003b6d;
}
.home-text11 {
  top: 310px;
  right: -2px;
  width: 100%;
  height: auto;
  margin: auto;
  position: absolute;
}
.home-navlink4 {
  top: 216px;
  left: 600px;
  position: absolute;
  text-decoration: none;
}
.home-text32 {
  top: 193px;
  left: 76px;
  position: absolute;
  background-color: rgb(189, 189, 189);
}
.home-text41 {
  color: rgb(0, 59, 109);
}
.home-pasted-image1 {
  top: 120px;
  right: 61px;
  width: 145px;
  height: 163px;
  position: absolute;
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-text01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text02 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text03 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text04 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text05 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
}
